In [1]:
import pandas as pd
import glob, gc

%pylab inline
import seaborn as sns

INPUT_PATH = './3'

Populating the interactive namespace from numpy and matplotlib

In [2]:
test_data = pd.read_hdf('digix-data.hdf', 'test_data')
user_features = pd.read_hdf('digix-data.hdf', 'user_features')
video_features = pd.read_hdf('digix-data.hdf', 'video_features')
history_behavior = pd.read_hdf('digix-data.hdf', 'history_behavior')

In [8]:
pt_d = history_behavior['pt_d'].value_counts().sort_index().index

In [15]:
for day1, day2 in zip(pt_d[:-1], pt_d[1:]):
    df1 = history_behavior[history_behavior['pt_d'] == day1]
    df2 = history_behavior[history_behavior['pt_d'] == day2]
    print(day1, day2, len(set(df1['user_id']) & set(df2['user_id'])) / len(set(set(df1['user_id']))))
    
# userid videoid watch_label share_label

# 用户1 很有可能看 video23，不一定在第十五天看

20210419 20210420 0.3645512532754283
20210420 20210421 0.3753880216597905
20210421 20210422 0.3604633741522716
20210422 20210423 0.3558074577533634
20210423 20210424 0.33239893117507513
20210424 20210425 0.34998889298421315
20210425 20210426 0.3214095771820702
20210426 20210427 0.3721114820853468
20210427 20210428 0.37608354607115535
20210428 20210429 0.3677740200881765
20210429 20210430 0.3739081213898859
20210430 20210501 0.38070499741108205
20210501 20210502 0.3005257433544416

In [16]:
for day1, day2 in zip(pt_d[:-3], pt_d[3:]):
    df1 = history_behavior[history_behavior['pt_d'] == day1]
    df2 = history_behavior[history_behavior['pt_d'] == day2]
    print(day1, day2, len(set(df1['user_id']) & set(df2['user_id'])) / len(set(set(df1['user_id']))))

20210419 20210422 0.3212190335007151
20210420 20210423 0.32194888527451604
20210421 20210424 0.28235648019177334
20210422 20210425 0.2878415809319864
20210423 20210426 0.28666006262133764
20210424 20210427 0.2876890829824385
20210425 20210428 0.2920371831026497
20210426 20210429 0.3150609869108471
20210427 20210430 0.3337347659540486
20210428 20210501 0.3349486738575374
20210429 20210502 0.27874261896491836

In [28]:
history_behavior[history_behavior['watch_label'] == 2]

,user_id,video_id,is_watch,is_share,is_collect,is_comment,watch_start_time,watch_label,pt_d
5064361,416,35489,1,0,0,0,2021-04-19,2,20210419
5001580,1785,4436,1,0,0,0,2021-04-19,2,20210419
777839,1962,14186,1,0,0,0,2021-04-19,2,20210419
4446150,2068,19270,1,0,0,0,2021-04-19,2,20210419
5581844,2777,28411,1,0,0,0,2021-04-19,2,20210419
...,...,...,...,...,...,...,...,...,...
3964599,5910167,41270,1,0,0,0,2021-05-02,2,20210502
3910867,5910177,45796,1,0,0,0,2021-05-02,2,20210502
2690824,5910423,11766,1,0,0,0,2021-05-02,2,20210502
3472587,5910706,26588,1,0,0,0,2021-05-02,2,20210502
4238018,5910716,2259,1,0,0,0,2021-05-02,2,20210502

In [29]:
history_behavior.loc[
    (history_behavior['user_id']==416) &
    (history_behavior['video_id']==35489)
]

,user_id,video_id,is_watch,is_share,is_collect,is_comment,watch_start_time,watch_label,pt_d
5064361,416,35489,1,0,0,0,2021-04-19,2,20210419

In [31]:
history_behavior[history_behavior['is_watch'] == 1]

,user_id,video_id,is_watch,is_share,is_collect,is_comment,watch_start_time,watch_label,pt_d
3275583,2,22485,1,0,0,0,2021-04-19,3,20210419
3275584,2,25469,1,0,0,0,2021-04-18,3,20210419
345383,10,28411,1,0,0,0,2021-04-19,0,20210419
4306151,30,38339,1,0,0,0,2021-04-19,0,20210419
4306152,30,24949,1,0,0,0,2021-04-19,1,20210419
...,...,...,...,...,...,...,...,...,...
5050996,5910759,30987,1,0,0,0,2021-05-02,0,20210502
5050997,5910759,22372,1,0,0,0,2021-05-02,0,20210502
4382837,5910767,28149,1,0,0,0,2021-05-02,0,20210502
2904234,5910778,28149,1,0,0,0,2021-05-02,4,20210502
2830664,5910797,7250,1,0,0,0,2021-05-02,0,20210502

In [32]:
# is_watch, is_share, is_collect, is_comment, watch_label

0    80261906
1       14950
Name: is_share, dtype: int64